{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap w/ Vite</title>
    <link href="{% static 'css/bootstrap-5/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script type="module" src="./js/main.js"></script>
  </head>
  <body>
    <div class="container py-4 px-3 mx-auto">
      <h1>Hola Universo!</h1>
      <p>esta pagina no existe o fue eliminada.</p>
      <a href="/">ir a pangina principal. </a>
      
    </div>
  </body>
</html>