{% extends 'base_persona.html' %}

{% block identificador %}
    Gestion de usuarios
{% endblock %}

{% block container %}
{% load bootstrap_icons %}

    <div class=" d-flex flex-row justify-content-start container-fluid">    
        <!-- Ejemplo con personalización de tamaño y color -->
         <a class="card p-2 me-3" href="{% url 'user_list' %}">  {% bs_icon 'people-fill' size='7em' color='green' %} </a> 
         <a class="card p-2 me-3" href="#">  {% bs_icon 'person-fill-add' size='7em' color='blue' %} </a>
    </div>
   
{% endblock %}