
{% extends 'base_persona.html' %}
{% load static %}

{% block identificador %}
   Crear Persona
{% endblock %}

{% block container %}

<div class="container mt-5">

    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4>{{ titulo }}</h4>

            <a href="{% url 'persona_listar' %}" class="btn btn-outline-light btn-sm ">Cancelar</a>
        </div>

        <div class="card-body">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Nombre</label>
                        {{ form.nombre }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Apellido</label>
                        {{ form.apellido }}
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    {{ form.email }}
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Teléfono</label>
                        {{ form.telefono }}
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label">Fecha de Nacimiento</label>
                        {{ form.fecha_nacimiento }}
                    </div>

                     <div class="form-check col-md-2 mb-3">
                        {{ form.activo }}
                        <label class="form-check-label"> Activo </label>
                     </div>

                </div>

                <div class="mb-3">
                    <label class="form-label">Género</label>
                    {{ form.genero }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Rol</label>
                    {{ form.rol }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Dirección</label>
                    {{ form.direccion }}
                </div>

               
                
                <div class="row">
                    <div class=" col-md-8 mb-3">
                        {{ form.foto }}
                        
                    </div>
                    <div class="col-md-4 mb-3">
                        <img id="preview" width="120" class="mt-2"/>
                    </div>
                </div>

                

                <button type="submit" class="btn btn-success w-100">
                    Guardar Persona
                </button>

            </form>

        </div>
    </div>

</div>



{% comment %} <input type="file" name="foto" class="form-control" onchange="previewImage(event)"> {% endcomment %}



<script>
function previewImage(event) {
    const reader = new FileReader();
    reader.onload = function(){
        document.getElementById('preview').src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
}
</script>

{% endblock %}